Vamos a querer unificar todos los datos que tenemos

In [1]:
import csv
import pandas as pd
import numpy as np

Cargamos los Datos de por ejemplo las defunciones en 2005

In [2]:
defunciones2005 = pd.read_csv('datasets/defweb05.csv', encoding='latin-1')
defunciones2005.head()

   PROVRES  SEXO CAUSA MAT     GRUPEDAD  CUENTA
0       50     2   R99       11_50 a 54      10
1       14     1   F10       12_55 a 59       1
2       62     1   N05      17_80 y más       1
3       74     2   C26      17_80 y más       3
4        6     1   G30       13_60 a 64       3

Agregamos una nueva columna YEAR, para luego poder diferenciar este dataset del resto

In [3]:
# move YEAR to be the first column
defunciones2005.insert(0, 'YEAR', 2005)
defunciones2005.head()

   YEAR  PROVRES  SEXO CAUSA MAT     GRUPEDAD  CUENTA
0  2005       50     2   R99       11_50 a 54      10
1  2005       14     1   F10       12_55 a 59       1
2  2005       62     1   N05      17_80 y más       1
3  2005       74     2   C26      17_80 y más       3
4  2005        6     1   G30       13_60 a 64       3

Ahora generalicemoslo para el resto de los datasets

In [4]:
# load and add YEAR for 2006..2023 explicitly
defunciones2006 = pd.read_csv('datasets/defweb06.csv', encoding='latin-1')
defunciones2007 = pd.read_csv('datasets/defweb07.csv', encoding='latin-1')
defunciones2008  = pd.read_csv('datasets/defweb08.csv', encoding='latin-1')
defunciones2009  = pd.read_csv('datasets/defweb09.csv', encoding='latin-1')
defunciones2010  = pd.read_csv('datasets/defweb10.csv', encoding='latin-1')
defunciones2011  = pd.read_csv('datasets/defweb11.csv', encoding='latin-1')
defunciones2012  = pd.read_csv('datasets/defweb12.csv', encoding='latin-1')
defunciones2013  = pd.read_csv('datasets/defweb13.csv', encoding='latin-1')
defunciones2014  = pd.read_csv('datasets/defweb14.csv', encoding='latin-1')
defunciones2015  = pd.read_csv('datasets/defweb15.csv', encoding='latin-1')
defunciones2016  = pd.read_csv('datasets/defweb16.csv', encoding='latin-1')
defunciones2017  = pd.read_csv('datasets/defweb17.csv', encoding='latin-1')
defunciones2018  = pd.read_csv('datasets/defweb18.csv', encoding='latin-1')
defunciones2019  = pd.read_csv('datasets/defweb19.csv', encoding='latin-1')
defunciones2020  = pd.read_csv('datasets/defweb20.csv', sep = ';')
defunciones2021  = pd.read_csv('datasets/defweb21.csv', sep = ';')
defunciones2022  = pd.read_csv('datasets/defweb22.csv', sep = ';')
defunciones2023  = pd.read_csv('datasets/defweb23.csv', sep = ';')


# add YEAR for the already-read dataframes
defunciones2006.insert(0, 'YEAR', 2006)
defunciones2007.insert(0, 'YEAR', 2007)
defunciones2008.insert(0, 'YEAR', 2008)
defunciones2009.insert(0, 'YEAR', 2009)
defunciones2010.insert(0, 'YEAR', 2010)
defunciones2011.insert(0, 'YEAR', 2011)
defunciones2012.insert(0, 'YEAR', 2012)
defunciones2013.insert(0, 'YEAR', 2013)
defunciones2014.insert(0, 'YEAR', 2014)
defunciones2015.insert(0, 'YEAR', 2015)
defunciones2016.insert(0, 'YEAR', 2016)
defunciones2017.insert(0, 'YEAR', 2017)
defunciones2018.insert(0, 'YEAR', 2018)
defunciones2019.insert(0, 'YEAR', 2019)
defunciones2020.insert(0, 'YEAR', 2020)
defunciones2021.insert(0, 'YEAR', 2021)
defunciones2022.insert(0, 'YEAR', 2022)
defunciones2023.insert(0, 'YEAR', 2023)

Ahora unificamos todas

In [13]:
df_union_all = pd.concat([defunciones2005, defunciones2006, defunciones2007, defunciones2008, defunciones2009, defunciones2010, defunciones2011, defunciones2012, defunciones2013, defunciones2014, defunciones2015, defunciones2016, defunciones2017, defunciones2018, defunciones2019, defunciones2020, defunciones2021, defunciones2022, defunciones2023], ignore_index=True)

In [16]:
df_union_all.loc[df_union_all['YEAR']== 2005, 'PROVRES']

0        50
1        14
2        62
3        74
4         6
         ..
45562     6
45563    46
45564    30
45565    14
45566    90
Name: PROVRES, Length: 45567, dtype: int64

In [17]:
sum_2022 = df_union_all.loc[df_union_all['YEAR']== 2022, 'PROVRES'].sum()
print(sum_2022)

2154657

La informacion total no es suficiente para poder generar un analisis riguroso. Vamos a querer unificar los otros CSVs que tenemos que me dan mas informacion sobre
- CAUSA: CÓDIGO DE CAUSA DE MUERTE (SEGÚN CIE-10)
- PROVRES: CÓDIGO DE JURISDICCIÓN DE RESIDENCIA HABITUAL DEL/LA FALLECIDO/A

In [ ]:
informacion = pd.read_excel('descdef1.xlsx')
informacion.head()

In [ ]:
mortalidad_2019 = pd.read_csv('tabla_mortalidad_2019_base.csv')

In [ ]:
count(mortalidad_2019['Jurisdiccion_nombre'] = 'Argentina')