Vamos a querer unificar todos los datos que tenemos

In [28]:
import csv
import pandas as pd
import chardet
import os
from sqlalchemy import create_engine
import duckdb

In [ ]:
duckdb.sql(
    "create"
)

InvalidInputException: Invalid Input Error: CSV Error on Line: 4
Original Line:
"14","1","F10"," ","12_55 a 59","1"
Invalid unicode (byte sequence mismatch) detected. This file is not utf-8 encoded.

Possible Solution: Set the correct encoding, if available, to read this CSV File (e.g., encoding='UTF-16')
Possible Solution: Enable ignore errors (ignore_errors=true) to skip this row

  file = datasets/defweb05.csv
  delimiter = , (Auto-Detected)
  quote = " (Auto-Detected)
  escape = (empty) (Auto-Detected)
  new_line = Single-Line File (Auto-Detected)
  header = false (Auto-Detected)
  skip_rows = 0 (Auto-Detected)
  comment = (empty) (Auto-Detected)
  strict_mode = true (Auto-Detected)
  date_format =  (Auto-Detected)
  timestamp_format =  (Auto-Detected)
  null_padding = 0
  sample_size = 20480
  ignore_errors = false
  all_varchar = 0

In [26]:

# --------------------------
# CONFIGURE YOUR DATABASE
# --------------------------
# Examples:
# SQLite:
engine = create_engine("sqlite:///defunciones.db")

# PostgreSQL:
# engine = create_engine("postgresql://user:password@localhost:5432/mydb")

# MySQL:
# engine = create_engine("mysql+pymysql://user:password@localhost:3306/mydb")

# --------------------------
# FOLDER WITH YOUR CSV FILES
# --------------------------
folder = "datasets"

def detect_encoding(path):
    """Detect encoding of a file using chardet."""
    with open(path, "rb") as f:
        raw = f.read(50000)
    return chardet.detect(raw)["encoding"]


combined = []

for file in os.listdir(folder):
    if file.endswith(".csv"):
        path = os.path.join(folder, file)
        print(f"Processing {path} ...")

        enc = detect_encoding(path)

        df = pd.read_csv(path, encoding=enc)

        # Normalize column names
        df.columns = (
            df.columns.str.lower()
            .str.strip()
            .str.replace(" ", "_")
            .str.replace(".", "_")
        )

        # Try to infer year from filename (e.g. defweb05 → 2005)
        year_digits = "".join([c for c in file if c.isdigit()])
        if len(year_digits) == 2:
            year = 2000 + int(year_digits)
        elif len(year_digits) == 4:
            year = int(year_digits)
        else:
            year = None

        df["year"] = year

        combined.append(df)

# Concatenate all data
df_all = pd.concat(combined, ignore_index=True)

# Upload to SQL
df_all.to_sql("defunciones", engine, if_exists="replace", index=False)

print("All CSVs imported into SQL successfully!")

Processing datasets\defweb05.csv ...
Processing datasets\defweb06.csv ...
Processing datasets\defweb07.csv ...
Processing datasets\defweb08.csv ...
Processing datasets\defweb09.csv ...
Processing datasets\defweb10.csv ...
Processing datasets\defweb11.csv ...
Processing datasets\defweb12.csv ...
Processing datasets\defweb13.csv ...
Processing datasets\defweb14.csv ...
Processing datasets\defweb15.csv ...
Processing datasets\defweb16.csv ...
Processing datasets\defweb17.csv ...
Processing datasets\defweb18.csv ...
Processing datasets\defweb19.csv ...
Processing datasets\defweb20_0.csv ...
Processing datasets\defweb21_0.csv ...
Processing datasets\defweb22_0.csv ...
Processing datasets\defweb23.csv ...
All CSVs imported into SQL successfully!

In [ ]:
select * from

       PROVRES  SEXO CAUSA MAT     GRUPEDAD  CUENTA
0           50     2   R99       11_50 a 54      10
1           14     1   F10       12_55 a 59       1
2           62     1   N05      17_80 y más       1
3           74     2   C26      17_80 y más       3
4            6     1   G30       13_60 a 64       3
...        ...   ...   ...  ..          ...     ...
45562        6     1   E14       10_45 a 49      27
45563       46     2   K66       09_40 a 44       1
45564       30     1   J69       09_40 a 44       1
45565       14     2   R99       13_60 a 64       6
45566       90     1   R55         02_1 a 9       1

[45567 rows x 6 columns]